{% extends 'admin/master.html' %}

{% block body %}

<div class="container">

    <form method="POST">
        <div class="row">
            <div class="form-group col-xs-5">
                <label for="begin_date">Begin Date:</label>
                <input type="date" class="form-control" name="begin_date" id="begin_date" value="{{ begin_date }}">
            </div>
            <div class="form-group col-xs-5">
                <label for="end_date">End Date:</label>
                <input type="date" class="form-control" name="end_date" id="end_date" value="{{ end_date }}">
            </div>
            <div class="form-group col-xs-2">
                <label for="aggregation">Group By:</label>
                <select class="form-select col form-control" name="aggregations" id="aggregations" multiple>
                    {% for field in group_fields %}
                    <option value="{{ field }}" {{ 'selected' if field in aggregations}}>{{field|title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <label for="filter" class="col-xs-1">Filter By:</label>
            <div class="form-group col-xs-2">
                <select class="form-select col form-control" name="filter" id="filter" onchange="filterChange()"
                    onload="filterChange()">
                    <option>None</option>
                    {% for field in filter_fields %}
                    <option value="{{ field }}" {{ 'selected' if filter==field }}>{{field|title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-5" id="filter_value_group">
                <input type="text" class="form-control filter_value" name="filter_value" id="filter_value"
                    value="{{ filter_value }}">
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div class="row">

        {% if not aggregations %}

        <table class="table table-striped table-bordered table-hover model-list">
            <thead>
                <th>Transaction Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Buyer</th>
                <th>Seller</th>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</th>
                    <td>{{ transaction.creation_time }}</td>
                    <td>{{ transaction.status }}</td>
                    <td>{{ transaction.type }}</td>
                    <td style="text-align: right;">{{ transaction.amount|round(2) }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.buyer_first_name }} {{ transaction.buyer_last_name }}</td>
                    <td>{{ transaction.seller_first_name }} {{ transaction.seller_last_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}



        {% if aggregations %}

        <table class="table table-striped table-bordered table-hover model-list">
            <thead>
                <th>Transaction Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Count</th>
                <th>Sum</th>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id if transaction.id else 'ALL' }}</th>
                    <td>{{ transaction.time if transaction.time else 'ALL' }}</td>
                    <td>{{ transaction.status if transaction.status else 'ALL'}}</td>
                    <td>{{ transaction.type if transaction.type else 'ALL' }}</td>
                    <td style="text-align: right;">{% if transaction.range %} {{ (transaction.range|float - 99.99)|round(2)}} - {{transaction.range}}  {% else %} ALL {% endif %}</td>
                    <td>{{ transaction.description if transaction.description else 'ALL' }}</td>
                    <td>{{ transaction.count }}</td>
                    <td style="text-align: right;">{{ transaction.sum|round(2) }} лв.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}
    </div>
</div>

<script>

    document.onload(() => {
        let filter_select = document.getElementById('filter')
        document.getElementById('filter_value_group').style.display = filter_select.value != 'None' ? 'block' : 'none';
    })

    function filterChange() {
        let filter_select = document.getElementById('filter')
        document.getElementById('filter_value_group').style.display = filter_select.value != 'None' ? 'block' : 'none';
    }

</script>


{% endblock %}